<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dulce de leche</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body style="background-color: brown; color:white;">
  <br><br>
  <div class="container">
    <h2>Dulce de leche</h2>
    <br>
    <div class="row">
      <div class="col-6">
        <p>El dulce de leche, también conocido como manjar, manjar de leche, arequipe o cajeta,
          es un producto lácteo (leche concentrada azucarada), producido por la cocción de leche con azucar
          y que generalmente se usa como cobertura de postres o para untar o jaspear.<br>
          Su consumo se extiende a todos los países de América Latina, a Francia y a aquellos países con minorías de estas nacionalidades,
          como Estados Unidos o España.<br>
          Este producto recibe diferentes nombres según el país en el que se consume, y también presenta algunas variaciones regionales.<br>
          Es ampliamente utilizado en postres como alfajores, cuchuflíes, obleas, panqueques, tortitas, gofres, helados y pasteles o tortas.<br>
          El sabor y el color del dulce de leche se debe a una combinación de varios procesos de pardeamiento no enzimático.
        </p>
      </div>
      <div class="col-6">
        <img src="/assets/img/manjar1.jpg" width="400">
      </div>
    </div><br>
    <h4>Origen</h4>
    <br>
    <p>Existen diversos relatos sobre el origen del dulce de leche.<br>
    A pesar de que varios de los países donde se produce se atribuyen su invensión, ninguno ostenta la denominación de origen.</p>
    <h6>En la antiguedad y antes de la colonización de América</h6>
    <p>El escritor e historiador argentino Rodolfo Terragno asegura que el dulce de leche se encuentra en diversas culturas antiguas.<br>
    En el Ayurveda, por ejemplo, aparece con el nombre de Rabadi y se recomienda para evitar enfermedades y corresponde al postre de la India
    actual más comunmente llamado Rabri.<br>
    No obstante su parentesco como subproductos lácteos, el Rabadi, es un subproducto del yogur, y el Khoya es Ricota.<br><br></p>
    <h4>Características</h4>
    <br>
    <p>El dulce de leche se elabora con leche, azúcar y esencia de vainilla. Suele agregarse una pizca de bicarbonato de sodio
      para acelerar la acaramelización de los azúcares.<br>
      En algunos casos puede agregarse crema de leche. Si bien el dulce original se hace con leche de vaca, también puede elaborarse con leche de cabra,
      aunque no es una variedad habitual. En Argentina, el Código alimentario Argentino estipula y exige los requisitos mínimos para que un producto pueda
      llamarse "dulce de leche". A su vez, el dulce de leche elaborado en Argentina está hecho a base de leche de vaca, azúcar, chaucha de vainilla (o esencia artificial de vainilla)
      y una pizca de bicarbonato de sodio. En este país se elaboran distintas variedades de dulce de leche, entre las que destacan el tradicional, más marrón y espeso, el light, de un
      color más claro que posee un contenido calórico menoral ser libre de grasas y colesterol, el repostero y el heladero.<br><br>
      En Costa Rica se usa para rellenar tosteles (como cachos, pañuelos, strudels, etc...), así como empanadas, galletas suizas, queques, arepas, helados y tortas.<br><br>
    </p>
    <h4>Variantes</h4>
    <br>
    <p>Existe también una forma simplificada de hacer dulce de leche, a base de leche condensada.
      Se toma una o más latas de leche condensada y se cuecen a "baño María" durante por lo menos 2 horas.
      La lata debe estar cubierta completamente con el agua para que se cocine todo su contenido.
      Cuando se abre la lata, el contenido será una "especie" de dulce de leche.<br><br>
      Existen distintos tipos y variedades de dulce de leche:<br>
      -Clásico o tradicional: Su característica principal es la brillantez y liga.
      Su utilización es muy variada: se usa untado sobre rebanadas de pan solo o con manteca, y también en pasteles, helados, alfajores, cañoncitos de dulce de leche,
      facturas, obleas, caramelos (tradicionalmente muy pegajosos) y otros postres.<br>
      -De repostería o repostero: Es más concentrado, de aspecto opaco y con corte. Puede llevar sustancias vegetales para aumentar su consistencia.
      Es utilizado principalmente en pasteles y tortas.<br>
      -Para helados: Es de uso industrial, de aspecto similar al tradicional, pero con más color, brillo y sabor.
    </p>
  </div><br>
</body>
</html>
