<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dulce de leche</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css">
</head>
<body style="background-color: brown; color:white;">
  <br><br>
  <div class="container">
    <h2>Dulce de leche</h2>
    <br>
    <div class="row">
      <div class="col-6">
        <p>El dulce de leche, también conocido como manjar, manjar de leche, arequipe o cajeta,
          es un producto lácteo (leche concentrada azucarada), producido por la cocción de leche con azucar
          y que generalmente se usa como cobertura de postres o para untar o jaspear.<br>
          Su consumo se extiende a todos los países de América Latina, a Francia y a aquellos países con minorías de estas nacionalidades,
          como Estados Unidos o España.<br>
          Este producto recibe diferentes nombres según el país en el que se consume, y también presenta algunas variaciones regionales.<br>
          Es ampliamente utilizado en postres como alfajores, cuchuflíes, obleas, panqueques, tortitas, gofres, helados y pasteles o tortas.<br>
          El sabor y el color del dulce de leche se debe a una combinaciómn de varios procesos de pardeamiento no enzimático.
        </p>
      </div>
      <div class="col-6">
        <img src="/assets/img/manjar1.jpg" width="400">
      </div>
    </div><br>
    <h4>Origen</h4>
    <br>
    <p>Existen diversos relatos sobre el origen del dulce de leche.<br>
    A pesar de que varios de los países donde se produce se atribuyen su invensión, ninguno ostenta la denominación de origen.</p>
    <h6>En la antiguedad y antes de la colonización de América</h6>
    <p>El escritor e historiador argentino Rodolfo Terragno asegura que el dulce de leche se encuentra en diversas culturas antiguas.<br>
    En el Ayurveda, por ejemplo, aparece con el nombre de Rabadi y se recomienda para evitar enfermedades y corresponde al postre de la India
    actual más comunmente llamado Rabri.<br>
    No obstante su parentesco como subproductos lácteos, el Rabadi, es un subproducto del yogur, y el Khoya es Ricota.<br><br></p>
  </div>
</body>
</html>
